<div class="chat">
    <div class="message-container"></div>
    <form method="POST" class="input-container">
        <input type="text" name="message" autocomplete="off" placeholder="Type your message here&hellip; Press enter to send.">
        <input type="submit" value="Send">
    </form>
    <div class="user-container"></div>
    <div class="status-container">
        <span class="status-icon initializing">&nbsp;</span>
        <span class="status-text">Intializing</span>
    </div>
</div>
